.content-conta {
    display: none;
    justify-content: space-between;
    margin: 100px 30px;
    max-width: 1920px;
}

.div-conta {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40%;
    max-width: 40%;
    padding: 10px;
}

.div-informacoes-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    scroll-padding: 500px;
    padding: 100px 0 50px 0;
    width: 105%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    background: #404040;
    background: linear-gradient(180deg, #303030 0%, rgba(24,24,24,1) 100%, rgba(24,24,24,0) 100%);
}

.img-perfil {
    max-width: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 1s ease;
    box-shadow: 0 5px 5px #101010;
    margin-bottom: 10px;
}

.nome-usuario {
    text-align: center;
}

.span-email-usuario {
    display: flex;
    align-items: center;
    font-size: .9rem;
    color: #ddd;
}

.bt-login-conta {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    background: #fff;
    color: #181818;
    border: none;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.bt-login-conta:hover {
    background: #ccc;
}

.logo-google {
    width: 20px;
    margin-right: 5px;
}

.logo-google-email {
    width: 15px;
    margin-right: 5px;
    border-radius: 50px;
}

.bt-sair-conta {
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 50px;
    background: #303030;
    color: #fff;
    border: 1px solid #606060;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: all .3s ease;
}

.bt-sair-conta:hover {
    background: #505050;
}

.bt-sair-conta i {
    margin-right: 2px;
}

.div-idioma-configuracoes {
    margin-top: 30px;
    width: 80%;
}

.div-idioma-configuracoes i {
    margin-right: 5px;
}

.div-configuracoes {
    display: flex;
    flex-direction: column;
    min-width: 55%;
    max-width: 55%;
    padding: 0 10px 10px 10px;
}

.h2-titulo-configuracoes {
    margin-bottom: 20px;
}

.div-configuracoes ul {
    padding: 20px 10px;
    margin-bottom: 20px;
    background: #202020;
    border-radius: 5px;
    transition: all .3s ease;
}

.div-configuracoes ul:hover {
    background: #303030;
    z-index: 5;
}

.header-ul-configuracao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.nome-configuracao {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.descricao-configuracao {
    color: #ddd;
    font-size: .9rem;
}

.bt-ativar-desativar-configuracao {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    border: none;
    background: #505050;
    cursor: pointer;
    margin-left: 10px;
    transition: all .3s ease;
}

.bt-ativar-desativar-configuracao div {
    position: absolute;
    top: 2.5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ccc;
    margin: 0 2px;
    transition: all .3s ease;
}

.bt-ativar-configuracao div {
    left: 1px;
}

.bt-desativar-configuracao {
    background: #f00;
}

.bt-desativar-configuracao div {
    left: 20px;
    background: #fff;
}

.div-idiomas-conta {
    margin-top: 10px;
    display: flex;
    flex-flow: wrap;
}

.span-beta {
    background: rgb(0, 126, 189);
    border-radius: 50px;
    font-weight: 700;
    padding: 3px 10px;
}

.div-idiomas-conta button {
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    background: #505050;
    color: #fff;
    border: 1px solid #aaa;
    cursor: pointer;
    transition: all .2s ease;
}

.div-idiomas-conta button:hover {
    background: #fff;
    color: #181818;
}

.div-idiomas-conta button:active {
    background: #ccc;
}

.div-idiomas-conta button img {
    max-width: 25px;
    margin-right: 5px;
    border: 1px solid #aaa;
    border-radius: 50px;
}

.div-idiomas-conta button i {
    margin-left: 5px;
}

.div-idiomas-conta button:last-child {
    margin-right: 0;
}

@media (max-width: 800px) {
    
    .content-conta {
        flex-direction: column;
        align-items: center;
        margin: -20px 0 100px 0;
    }

    .div-conta, .div-configuracoes {
        min-width: 100%;
    }

    .div-conta {
        border: none;
        background: linear-gradient(180deg, #303030 0%, rgba(24,24,24,1) 100%, rgba(24,24,24,0) 100%);
    }
    
    .div-informacoes-user {
        position: relative;
        padding-top: 150px;
        background: unset;
        width: 100%;
    }

    .img-perfil {
        max-width: 150px;
    }

    .div-configuracoes {
        padding: 10px;
    }

    .nome-configuracao {
        font-size: 1rem;
    }
    
    .descricao-configuracao {
        font-size: .8rem;
    }

    .div-idioma-configuracoes {
        width: 100%;
    }

}

@media (max-width: 600px) {

  .nome-configuracao {
      font-size: .9rem;
  }
  
  .descricao-configuracao {
      font-size: .8rem;
  }
}