.nome-movie-scroll-ativado, .nome-movie-scroll-desativado {
    position: fixed;
    padding: 8px 10px;
    left: 10px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    color: #181818;
    max-width: 100%;
    transition: all .3s ease;
    white-space: nowrap;
    max-width: 35ch;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 9;
}

.nome-movie-scroll-ativado {
    bottom: 25px;
}

.nome-movie-scroll-desativado {
    bottom: -100px;
}

.div-bloquear-anuncios-assistir {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.div-bloquear-anuncios-assistir header {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}

.div-bloquear-anuncios-assistir img {
    width: 60%;
}

.div-bloquear-anuncios-assistir main {
    display: flex;
    flex-direction: column;
}

.span-verifique-politicas-privacidade {
    font-size: .8rem;
    margin-top: 10px;
    color: #ccc;
}

.div-bloquear-anuncios-assistir footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 20px;
}

.div-bloquear-anuncios-assistir footer img {
    min-width: 150px;
    max-width: 150px;
    margin: 0 5px;
    transition: all .3s ease;
}

.div-bloquear-anuncios-assistir footer img:hover {
    opacity: .5;
}

.logo-brave {
    border-radius: 5px;
    padding: 5px 10px 3px 10px;
    border: 1px solid #aaa;
    background: #000;
}

.container-assistir {
    background-size: 100%;
    margin-top: 3.1rem;
    max-width: 1920px;
    margin: 0 auto;
}

.container-assistir .content-movie-assistir {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.container-assistir .movie-assistir {
    position: relative;
    display: flex;
    padding: 6rem 2.5rem 5rem 2.5rem;
    background-image: linear-gradient(to top, #181818, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)  100%);
}

.container-assistir .div-imagem-movie-assistir #img-movie-assistir {
    position: relative;
    height: 350px;
    width: 230px;
    border-radius: .5rem;
    background: #181818;
    z-index: 1;
}

#img-movie-assistir-background {
    position: absolute;
    height: 370px;
    width: 250px;
    top: 90px;
    left: 35px;
    filter: blur(40px);
    border-radius: 20px;
}

.container-assistir .detalhes-movie-assistir {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    max-width: 70%;
    z-index: 2;
}

.detalhes-movie-assistir .span-assistir-filmes-series {
    font-size: .7rem;
    text-transform: uppercase;
    color: #ccc;
    letter-spacing: 2px;
}

.detalhes-movie-assistir .titulo-movie-assistir {
    margin: .1rem 0 1.1rem 0;
    font-size: 2rem;
}

.span-login-assistir-add-favorito {
    display: flex;
    align-items: center;
    background: #fff;
    color: #181818;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: 700;
    font-size: .9rem;
    margin-bottom: 20px;
}

.span-login-assistir-add-favorito:hover {
    background: #ccc;
}

.span-login-assistir-add-favorito img {
    width: 15px;
    margin-right: 5px;
}

.detalhes-movie-assistir .informacoes-movie-assistir {
    display: flex;
    margin-bottom: 1.1rem;
    background: #202020;
    padding: .5rem .5rem;
    border-radius: 3rem;
    overflow-x: auto;
    max-width: 100%;
}

.swiper-wrapper {
    align-items: center;
}

.detalhes-movie-assistir .informacoes-movie-assistir section {
    padding: .1rem .5rem;
    border-radius: 3rem;
    font-weight: 600;
    font-size: .8rem;
    text-transform: uppercase;
    cursor: default;
    transition: all .3s ease;
}

.detalhes-movie-assistir .informacoes-movie-assistir section:hover {
    opacity: .7;
}

.detalhes-movie-assistir .informacoes-movie-assistir section:last-child {
    margin-right: 0;
}

.detalhes-movie-assistir .informacoes-movie-assistir .section-temporadas {
    display: flex;
}

.detalhes-movie-assistir .informacoes-movie-assistir section span {
    white-space: nowrap;
}

.span-classificacao-indicativa {
    padding: 2px 3px 2px 2px;
    border-radius: 3px;
    font-weight: 600;
    border: 1px solid transparent;
}

.span-classificacao-indicativa-L {
    background: #009D4B;    
    padding: 2px 7px 2px 8px;
}

.span-classificacao-indicativa-10 {
    background: #00A2E5;
}

.span-classificacao-indicativa-12 {
    background: #F2BF09;
    color: #000;
}

.span-classificacao-indicativa-14 {
    background: #EA7C1E;
}

.span-classificacao-indicativa-16 {
    background: #E21C21;
}

.span-classificacao-indicativa-18 {
    background: #000;
}

.detalhes-movie-assistir .descricao-movie-assistir {
    text-transform: capitalize;
    line-height: 130%;
    font-size: .9rem;
    color: #ccc;
    margin-bottom: 1rem;
}

.detalhes-movie-assistir .generos-movie-assistir {
    padding: .7rem 0;
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: .7rem;
}

.detalhes-movie-assistir .generos-movie-assistir span {
    font-size: .7rem;
    margin-right: .7rem;
    background: #222222;
    border: 1px solid #707070;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .2s ease;
    border-radius: 3rem;
    cursor: pointer;
    white-space: nowrap;
    padding: .6rem 1rem;
}

.detalhes-movie-assistir .generos-movie-assistir span:last-child {
    margin-right: 0;
}

.detalhes-movie-assistir .generos-movie-assistir span:hover {
    color: #ccc;
    border: 1px solid #fff;
}

.container-assistir .release-date-assistir {
    opacity: 0.5;
}

.div-compartilhar-e-favorito {
    display: flex;
    align-items: center;
    margin-bottom: 1.1rem;
}

.div-logo-imdb {
    display: flex;
    align-items: center;
    max-width: max-content;
    border: 1px solid #E6B91E;
    border-radius: 5px;
    background: #E6B91E;
}

.div-logo-imdb i {
    color: #000;
    font-size: 2rem;
    margin-right: 1px;
}

.div-logo-imdb span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181818;
    min-height: 100%;
    text-align: center;
    border-radius: 2px 5px 5px 2px;
    padding: 0 5px;
    font-weight: 600;
    font-size: .8rem;
}

.botao-favorito, .bt-assistir-preview-movie {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50px;
    font-size: 1rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.botao-adicionar-favorito {
    background: #252525;
    color: #fff;
    border: 1px solid #707070;
}

.botao-adicionar-favorito:hover {
    color: #000;
    background: #fff;
    border: 1px solid #fff;
}

.botao-remover-favorito, .bt-assistir-preview-movie {
    color: #fff;
    background: #f00;
    border: 1px solid #fff;
}

.botao-remover-favorito:hover, .bt-assistir-preview-movie:hover {
    color: #f00;
    background: #fff;
    border: 1px solid #f00;
}

.bt-assistir-preview-movie {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 15px;
    min-width: min-content;
    padding: 0 15px;
    font-weight: 800;
}

.bt-assistir-preview-movie i {
    margin-right: 5px;
}

.div-temporadas-episodios-serie-assistir {
    display: flex;
    flex-direction: column;
    margin: 15px 20px 10px 20px;
}

.a-episodio-serie {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.olho-episodio-visualizado {
    color: rgb(85, 85, 85);
    margin-left: 8px;
}

.lock-episodio-visualizado {
    margin-left: 8px;
    color: rgb(254, 29, 29);
}

.a-episodio-serie:visited .olho-episodio-visualizado {
    color: #fff;
    opacity: 1;
}

.h2-assistir {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 3rem;
}

.div-temporadas-serie-assistir {
    margin-bottom: 20px;
}

.section-temporadas-serie-assistir {
    position: relative;
    display: flex;
    max-width: max-content;
    overflow: auto;
    scroll-behavior: smooth;
}

.bt-slide-section-serie-assistir {
    position: sticky;
    background: unset;
    border: none;
    color: #fff;
    height: 60px;
    font-size: 1.2rem;
    z-index: 1;
}

.bt-left-section-serie-assistir {
    position: sticky;
    padding: 0 40px 0 10px;
    background-image: linear-gradient(to right, #181818, #181818eb, #18181800);
    left: 0;
    z-index: 1;
}

.bt-right-section-serie-assistir {
    padding: 0 10px 0 40px;
    background-image: linear-gradient(to left, #181818, #181818eb, #18181800);
    right: -2px;
}

.bt-slide-section-serie-assistir i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: all .2s ease;
    cursor: pointer;
}

.bt-slide-section-serie-assistir i:hover {
    background: #404040;
    border: 2px solid #606060;
}

.h2-titulo-temporada, .h2-titulo-episodio {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}

.div-escolher-temporada {
    position: relative;
    margin-right: 10px;
}

.div-escolher-temporada:last-child {
    margin-right: 0;
}

.temporada-serie-assistir input {
    display: none;
}

.temporada-serie-assistir input:checked ~ label img, .temporada-serie-assistir input:checked ~ label .span-hover-n-temporada {
    border: #ddd solid 1px;
    background: #f00;
    transition: all .3s ease;
}

.temporada-serie-assistir label img {
    border-radius: 50%;
    object-fit: cover;
    min-height: 55px;
    max-height: 55px;
    min-width: 55px;
    max-width: 55px;
}

.span-hover-n-temporada {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    max-height: 55px;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    background: #181818bc;
    border: rgb(100, 100, 100) solid 1px;
    cursor: pointer;
    transition: all .3s ease;
}

.bt-abrir-detalhes-temporada {
    border-radius: 50px;
    transition: all .3s ease;
    text-transform: uppercase;
    font-size: .8rem;
    margin-top: 10px;
    font-weight: 700;
    color: #fff;
    background: none;
    border: 1px solid #404040;
    padding: 5px 10px;
    cursor: pointer;
}

.bt-abrir-detalhes-temporada:hover {
    color: #181818;
    background: #fff;
}

.section-episodios-serie-assistir, .section-opcoes-video {
    position: relative;
    display: flex;
    overflow: auto;
    top: -30px;
    transition: all 1s ease;
    height: 9;
    opacity: 0;
    scroll-behavior: smooth;
}

.section-episodios-serie-assistir {
    max-width: max-content;
}

.section-temporadas-serie-assistir::-webkit-scrollbar, .section-episodios-serie-assistir::-webkit-scrollbar {
    display: none;
}

.mostrar-episodios-serie-assistir, .mostrar-opcoes-video {
    top: 0;
    opacity: 1;
    height: min-content;
}

.episodio-serie-assistir {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.episodio-serie-assistir:last-child {
    margin-right: 0;
}

.episodio-serie-assistir input {
    display: none;
}

.episodio-serie-assistir input:checked ~ label img, .episodio-serie-assistir input:checked ~ label .span-hover-n-episodio {
    border: #ddd solid 1px;
    background: #f00;
    transition: all .3s ease;
}

.episodio-serie-assistir label img {
    border-radius: 10px;
    object-fit: cover;
    min-height: 55px;
    max-height: 55px;
    min-width: 100px;
    max-width: 100px;
}

.span-hover-n-episodio {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-height: 55px;
    inset: 0;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background: #181818bc;
    border: rgb(100, 100, 100) solid 1px;
    transition: all .3s ease;
}

.span-hover-n-episodio:hover, .span-hover-n-temporada:hover {
    padding-bottom: 8px;
    font-size: 1.3rem;
    border: 1px solid #f00;
}

.div-opcoes-video-assistir {
    display: flex;
}

.mostrar-opcoes-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcao-video-assistir {
    position: relative;
    margin-right: 10px;
    min-height: min-content;
    min-width: min-content;
    padding: 25px 0;
}

.opcao-video-assistir:last-child {
    margin-right: 0;
}

.opcao-video-assistir label {
    cursor: pointer;
    border-radius: 50px;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #aaa;
    border: #aaa solid 1px;
    background: #202020;
    padding: 10px 20px;
    transition: all .3s ease;
}

.opcao-video-assistir label:hover {
    opacity: .6;
}

.opcao-video-assistir input {
    display: none;
}

.opcao-video-assistir input:checked ~ label {
    color: #ffff;
    border: #f00 solid 1px;
    background: #f00;
    transition: all .3s ease;
}

.span-hover-opcao {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    inset: 0;
    border-radius: 10px;
    font-size: .5rem;
    font-weight: bold;
    background: #181818bc;
    border: rgb(100, 100, 100) solid 1px;
    transition: all .3s ease;
}

.section-opcoes-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
}

.span-informacoes-video-assistir {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
}

.div-abrir-pop-up-bloquear-anuncios {
    margin-top: 20px;
}

.div-abrir-pop-up-bloquear-anuncios button {
    padding: 5px 15px;
    background: #fff;
    font-weight: bold;
    font-size: .8rem;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.div-abrir-pop-up-bloquear-anuncios button:hover {
    opacity: .5;
}

.container-assistir .div-iframe-movie-assistir {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.div-iframe-movie-assistir-fixed {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 400px;
    height: 250px;
}

.container-assistir .div-iframe-movie-assistir iframe {
    max-height: 720px;
    max-width: 100%;
    aspect-ratio: 1/.56;
    margin-top: 20px;
}

.span-alert-iframe {
    margin: 20px 20px 0 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.item-slide {
    background: #f00;
    min-width: 30px;
    max-width: 30px;
    margin-right: 10px;
}

.slick-slide, .slick-active {
    width: min-content;
}

@media (max-width: 1000px) {
    .container-assistir .div-imagem-movie-assistir #img-movie-assistir {
        height: 300px;
        width: 180px;
    }

    #img-movie-assistir-background {
        position: absolute;
        height: 320px;
        width: 200px;
        top: 90px;
        left: 40px;
        filter: blur(30px);
        border-radius: 20px;
    }

    .container-assistir .detalhes-movie-assistir {
        margin-left: 1rem;
    }
}

@media (max-width: 800px) {
    
    .container-assistir .detalhes-movie-assistir {
        max-width: 100%;
        margin-left: 0;
    }
    
    .detalhes-movie-assistir .span-assistir-filmes-series {
        text-align: center;
        width: 100%;
    }

    .container-assistir .detalhes-movie-assistir h1 {
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    #img-movie-assistir, #img-movie-assistir-background {
        display: none;
    }
}

@media (max-width: 600px) {

    .nome-movie-scroll-ativado {
        bottom: 20px;
        max-width: 75%;
    }

    .container-assistir .movie-assistir {
        padding: 5rem 1rem 3rem 1rem;
    }

    .container-assistir .detalhes-movie-assistir h1 {
        font-size: 150%;
        width: 100%;
    }

    .detalhes-movie-assistir .descricao-movie-assistir {
        font-size: .7rem;
        margin-bottom: .5rem;
    }

    .detalhes-movie-assistir .informacoes-movie-assistir {
        padding: .1rem .3rem;
    }
    
    .detalhes-movie-assistir .informacoes-movie-assistir section {
        margin-right: 0;
        padding: .4rem .4rem;
        font-size: .7rem;
    }

    .div-logo-imdb img {
        height: 25px;
    }

    .div-logo-imdb span {
        font-size: .7rem;
    }

    .detalhes-movie-assistir .generos-movie-assistir::-webkit-scrollbar, .detalhes-movie-assistir .informacoes-movie-assistir::-webkit-scrollbar {
        display: none;
    }

    .detalhes-movie-assistir .generos-movie-assistir span {
        font-size: .6rem;
        margin-right: .5rem;
    }
    
    .botao-favorito, .bt-assistir-preview-movie {
        height: 2.2rem;
        width: 2.2rem;
    }

    .bt-assistir-preview-movie {
        margin-right: 7px;
    }
    
    .bt-slide-section-serie-assistir {
        display: none;
    }

    .h2-assistir {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .h2-titulo-temporada, .h2-titulo-episodio, .span-informacoes-video-assistir {
        font-size: .9rem;
    }

    .div-temporadas-episodios-serie-assistir {
        margin: 15px 15px 10px 15px;
    }
    
    .section-temporadas-serie-assistir::-webkit-scrollbar, .section-episodios-serie-assistir::-webkit-scrollbar {
        display: none;
    }

    .temporada-serie-assistir label img {
        min-height: 40px;
        max-height: 40px;
        min-width: 40px;
        max-width: 40px;
    }

    .episodio-serie-assistir label img {
        min-height: 40px;
        max-height: 40px;
        min-width: 70px;
        max-width: 70px;
    }

    .episodio-serie-assistir, .div-escolher-temporada {
        margin-right: .4rem;
    }
    
    .span-hover-n-episodio:hover, .span-hover-n-temporada:hover {
        padding-bottom: 5px;
        font-size: 1rem;
    }

    .span-hover-n-temporada, .span-hover-n-episodio  {
        max-height: 40px;
        font-size: .9rem;
    }

    .opcao-video-assistir {
        padding: 15px 0;
    }

    .opcao-video-assistir label {
        font-size: .8rem;
        padding: 7px 12px;
    }
    
    .bt-abrir-detalhes-temporada {
        font-size: .7rem;
        padding: 3px 8px;
    }

    .container-assistir .div-iframe-movie-assistir iframe {
        max-height: 400px;
        max-width: 100%;
        aspect-ratio: 1/.5;
        margin-top: 20px;
    }
}