.content-favoritos {
    display: none;
    padding: 100px 20px 25px 20px;
}

.div-favoritos {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    max-width: 800px;
    border-radius: 5px;
    margin: 20px 0 0 10px;
}

.favoritos {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    background: #181818e3;
    border: 1px solid #303030;
    border-radius: 5px;
    transition: all .3s ease;
}

.favoritos:hover {
    opacity: .9;
}

.favoritos:active {
    background: #181818;
    border: 1px solid #404040;
}

.section-img-favoritos img {
    max-height: 180px;
    border-radius: 5px;
}

.section-informacoes-favoritos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 10px;
}

.section-informacoes-favoritos .tipo-movie {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ccc;
}

.section-informacoes-favoritos .h3-nome-movie {
    font-size: 18px;
    margin: 5px 0;
}

.detalhes-movie-favoritos {
    color: #ddd;
    margin-top: 5px;
    font-size: 13px;
}

.detalhes-movie-favoritos span i {
    margin-left: 2px;
}

.detalhes-movie-favoritos .span-ano {
    letter-spacing: 1px;
}

.section-bts-assistir-remover {
    margin-top: 10px;
}

.section-bts-assistir-remover a {
    margin-right: 10px;
    padding: 8px 12px;
    transition: all .3s ease;
    border-radius: 10px;
    max-width: 0;
    border-radius: 50px;
}

.section-bts-assistir-remover a:hover {
    border-radius: 50px;
}

.section-bts-assistir-remover button, .section-bts-assistir-remover a {
    background: #fff;
    color: #f00;
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
    padding: 8px 11px;
}

.section-bts-assistir-remover button:hover, .section-bts-assistir-remover a:hover {
    background: #f00;
    color: #fff;
}

.content-sem-favoritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

.content-sem-favoritos span {
    font-size: 1.1rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.content-sem-favoritos a {
    display: flex;
    align-items: center;
    background: #fff;
    color: #181818;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
    transition: all .3s ease;
}

.content-sem-favoritos a:hover {
    background: #ccc;
}

.content-sem-favoritos a img {
    width: 20px;
    margin-right: 5px;
}

@media (max-width: 400px) {

    .div-favoritos {
        background-size: 0;
    }

    .favoritos {
        flex-direction: column;
        align-items: center;
    }

    .section-img-favoritos {
        margin-right: 0;
    }

    .section-informacoes-favoritos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        text-align: center;
    }
   
    .section-bts-assistir-remover button::after, .section-bts-assistir-remover a::after {
        display: none;
    }
}

@media (max-width: 280px) {

    .section-bts-assistir-remover a {
        margin-right: 0;
    }
    
    .section-bts-assistir-remover button {
        margin: 15px 0 0 0;
    }
}