a {
    text-decoration: none;
}

.componente-pequisar {
    display: block;
    margin-top: 80px;
}

.header-componente-pesquisar {
    margin: 1.2rem;
}

.header-componente-pesquisar .section-pesquisar {
    position: relative;
}

.header-componente-pesquisar .section-input-pesquisar {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    min-width: 100%;
    z-index: 4;
}

.header-componente-pesquisar .section-input-pesquisar:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 80%;
    background: #181818;
    z-index: 9;
}

.header-componente-pesquisar .section-input-pesquisar input {
    height: 2.8rem;
    width: 100%;
    padding: .2rem 0 .2rem 1rem;
    border-radius: 3rem 0 0  3rem;
    background-color: #353535;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
}

.header-componente-pesquisar .section-input-pesquisar input::placeholder {
    color: #ccc;
}

.header-componente-pesquisar .section-input-pesquisar a {
    background-color: #353535;
    color: #fff;
    padding: .7rem 1.2rem .7rem .7rem;
    border-radius: 0 3rem 3rem 0;
    cursor: pointer;
    transition: all .3s ease;
}

.header-componente-pesquisar .section-input-pesquisar a:hover {
    background-color: #404040;
}

.header-componente-pesquisar .section-input-pesquisar a:active {
    color: #ccc;
}

.div-sugestoes-pesquisar {
    position: absolute;
    top: 20px;
    border-radius: 5px 5px 15px 15px;
    background-color: #353535;
    min-width: 100%;
    padding-top: 30px;
    max-height: 70vh;
    overflow-y: hidden;
    z-index: 3;
}

.div-sugestoes-pesquisar ul {
    list-style: none;
    min-width: 100%;
}

.li-movie-sugestao-pesquisar {
    display: flex;
    padding: 10px;
    min-width: 100%;
    cursor: pointer;
}

.li-movie-sugestao-pesquisar:hover {
    opacity: .8;
    background-color: #404040;
}

.section-img-movie-sugetao-pesquisar {
    margin-right: 10px;
}

.section-img-movie-sugetao-pesquisar img {
    background: #101010;
    width: 70px;
    height: 110px;
    border-radius: 5px;
    object-fit: cover;
}

.section-informacoes-movie-sugetao-pesquisar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.span-tipo-sugestao-pesquisar  {
    padding: .1rem .3rem;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 3px;
    transition: all .3s ease;
}

.section-ano-sugestao-pesquisar {
    display: flex;
    font-size: .8rem;
    font-weight: bold;
}

.section-ano-sugestao-pesquisar .span-avaliacao-sugestao-pesquisar {
    margin-right: 20px;
}

.span-serie-sugestao-pesquisar {
    background: #E50914;
}

.span-filme-sugestao-pesquisar {
    background: #008000;
}

.span-pessoa-sugestao-pesquisar {
    background: #008cff;
}

.div-link-pesquisar-sugestao-movie::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to top, #181818 1%, #181818 15%, #18181800 95%);
    z-index: 4;
}

.link-pesquisar-sugestao-movie {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50px);
    background: #fff;
    border: 1px solid #fff;
    color: #181818;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    padding: 7px 10px;
    border-radius: 50px;
    transition: .2s ease all;
    z-index: 5;
}

.link-pesquisar-sugestao-movie:hover {
    transform: translateX(-60px);
    background: #f00;
    border: 1px solid #808080;
    color: #fff;
    padding: 7px 20px;
}

.div-filtro {
    position: sticky;
    top: 50px;
    display: flex;
    align-items: center;
    overflow: auto;
    max-width: 100%;
    margin: 10px 10px 20px 0;
    padding: 25px 0 30px 20px;
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom, #181818 1%, #181818e6 80%, #18181800 95%);
    z-index: 2;
}

.div-filtro::-webkit-scrollbar {
    display: none;
}

.label-escolher-filtro {
    display: flex;
    align-items: center;
    max-width: max-content;
    margin: 10px;
}

.label-escolher-filtro span, .label-escolher-filtro a {
    color: #ccc;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 5px 15px;
    background: #353535;
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .3s ease;
}

.label-escolher-filtro span:hover, .label-escolher-filtro a:hover {
    color: #fff;
    background: #454545;
}

.input-escolher-filtro {
    display: none;
}

.input-escolher-filtro:checked ~ .label-escolher-filtro span, .input-escolher-filtro:checked ~ .label-escolher-filtro a {
    border: 2px solid #fff;
    color: #303030;
    background: #fff;
}

.section-limpar-historico {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 26px 0 10px 0;
}

.section-limpar-historico button {
    padding: 5px 10px;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    border: 1px solid transparent;
    color: #fff;
    background: #222222;
    cursor: pointer;
}

.section-limpar-historico button:hover {
    background: #303030;
    border: 1px solid #404040;
}

.section-limpar-historico button:active {
    background: #404040;
    border: 1px solid #808080;
    transition: .5s ease;
}

.section-exibir-historico-pesquisa-desativado {
    margin: 30px 0 0 10px !important;
}

.section-salvar-pesquisa-desativado {
    font-size: .7rem;
    margin: 0 0 20px 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-salvar-pesquisa-desativado a {
    color: #fff;
    margin-left: 10px;
    font-size: .8rem;
}

.section-salvar-pesquisa-desativado a i {
    transition: all .3s ease;
}

.section-salvar-pesquisa-desativado a:hover i {
    transform: rotate(90deg);
    opacity: .8;
}

.section-item-historico {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.section-item-historico:hover {
    z-index: 999999999999;
    background: #181818;
}

.section-item-historico a {
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 50px;
    width: 95%;
    padding: 15px 15px 15px 20px;
    transition: all .3s ease;
    cursor: pointer;
}

.section-item-historico a:hover {
    background: #222222;
}

.section-item-historico a:active {
    background: #303030;
}

.section-item-historico .nome-item-historico {
    font-size: 1rem;
    margin-bottom: 2px;
    text-transform: capitalize;
    font-weight: 600;
    overflow: hidden;
}

.section-item-historico .data-item-historico {
    font-size: .7rem;
    color: #bbb;
    width: max-content;
}

.section-item-historico .bt-excluir-item-historico {
    position: relative;
    background: unset;
    border: none;
    border: 1px solid transparent;
    color: #fff;
    min-width: 30px;
    min-height: 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    transition: all .3s ease;
}

.section-item-historico .bt-excluir-item-historico:hover {
    background: #222222;
    border: 1px solid #404040;
}

.section-item-historico .bt-excluir-item-historico:active {
    background: #303030;
    border: 1px solid #808080;
    transition: .5s ease;
}

.div-movie-pesquisar::-webkit-scrollbar{
    display: none;
}

.div-movie-pesquisar::-webkit-scrollbar-track{
    background-color: #181818;
}

.div-movie-pesquisar::-webkit-scrollbar-thumb{
    background-color: #DBD1C4;
    border-radius: 1.2rem;
}

.div-movie-pesquisar::-webkit-scrollbar-thumb:hover{
    background-color: #A69E94;
}

.div-movie-pesquisar, .div-pessoa-pesquisar {
    display: flex;
    justify-content: center;
    position: relative;
    flex-flow: wrap;
    border-radius: .7rem;
    max-width: 100%;
    margin: 0 .5rem;
    padding: 1.2rem 0 0 .7rem;
}

.movie-pesquisar, .pessoa-pesquisar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.9rem 1.9rem 0;
    border-radius: 1rem;
    transition: all 0.5s ease;
}

.section-informacoes-movie-pesquisar, .section-informacoes-pessoa-pesquisar {
    position: relative;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .7rem;
    color: #fff;
    background-image: linear-gradient(to top, #000 60%, transparent);
    border-radius: 0 0 1rem 1rem;
}

.section-informacoes-movie-pesquisar span, .section-informacoes-pessoa-pesquisar span {
    display: flex;
    align-items: center;
    margin-top: 0;
    font-size: .8rem;
    font-weight: 600;
}

.section-informacoes-movie-pesquisar span i, .section-informacoes-pessoa-pesquisar span i {
    font-size: .7rem;
    margin-right: .1rem;
}

.section-informacoes-pessoa-pesquisar {
    justify-content: center;
}

.movie-pesquisar img, .pessoa-pesquisar img {
    min-width: 180px;
    max-width: 180px;
    min-height: 280px;
    max-height: 280px;
    margin-bottom: 1rem;
    border-radius: .5rem;
    object-fit: cover;
    transition: all .3s ease;
}

.movie-pesquisar:hover img, .pessoa-pesquisar:hover img, .movie-pesquisar:hover .span-movie-filme, .movie-pesquisar:hover .span-movie-serie, .pessoa-pesquisar:hover .span-pessoa {
    transform: translatey(-10px);
    opacity: .5;
}

.titulo-pessoa {
    text-align: center;
}

.titulo-movie, .titulo-pessoa {
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 170px;
}

.movie-pesquisar a, .pessoa-pesquisar a {
    position: relative;
    max-height: 300px;
}

.span-movie-filme, .span-movie-serie, .span-pessoa {
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
    padding: .1rem .3rem;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.6);
    transition: all .3s ease;
}

.span-movie-filme {
    background: #E50914;
}

.span-movie-serie {
    background: #008000;
}

.span-pessoa {
    background: #008cff;
}

.titulo-movie, .titulo-pessoa {
    font-size: 1rem;
}

.div-nenhum-resultado-pesquisar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-nenhum-resultado-pesquisar i {
    font-size: 3rem;
    margin-bottom: 10px;
}

.div-nenhum-resultado-pesquisar .span-nenhum-resultado-pesquisar {
    font-weight: bold;
}

@media (max-width: 1000px) {

    .movie-pesquisar, .pessoa-pesquisar {
        margin-right: .7rem;
    }

    .movie-pesquisar img, .pessoa-pesquisar img {
        min-width: 150px;
        max-width: 150px;
        min-height: 230px;
        max-height: 230px;
    }
    
    .titulo-movie {
        font-size: .8rem;
        margin-top: -2rem;
        max-width: 140px;
    }

    .titulo-pessoa {
        font-size: .8rem;
    }
}

@media (max-width: 800px) {

    .movie-pesquisar, .titulo-pessoa {
        margin-right: .7rem;
    }

    .movie-pesquisar img, .pessoa-pesquisar img {
        min-width: 130px;
        max-width: 130px;
        min-height: 200px;
        max-height: 200px;
    }

    .titulo-movie, .titulo-pessoa {
        font-size: .8rem;
        margin-top: -2.3rem;
        max-width: 120px;
    }
    
    .titulo-movie {
        font-size: .7rem;
        margin-top: -2.3rem;
    }

    .titulo-pessoa {
        font-size: .7rem;
        margin-top: -.7rem;
    }
}

@media (max-width: 600px) {
    
    .div-movie-pesquisar, .div-pessoa-pesquisar {
        justify-content: center;
    }

    .movie-pesquisar span {
        font-size: 85%;
    }

    .pessoa-pesquisar a {
        max-height: 210px;
    }

    .span-movie-filme, .span-movie-serie, .span-pessoa {
        font-size: .7rem !important;
    }

    .titulo-movie {
        max-width: 16ch;
    }

    .titulo-pessoa {
        max-width: 14ch;
    }
    
    .label-escolher-filtro {
        margin: 5px;
        font-size: .7rem;
    }

    .label-escolher-filtro span {
        padding: 5px 10px;
    }

    .div-nenhum-resultado-pesquisar i {
        font-size: 2rem;
    }
    
    .div-nenhum-resultado-pesquisar .span-nenhum-resultado-pesquisar {
        font-size: .8rem;
    }
}