.content-sugestoes {
    display: flex;
    flex-direction: column;
    margin: 1.2rem 0 1.2rem 0;
}

.div-filmes-sugestões {
    padding: .7rem;
    padding-left: 50px;
    margin: .5rem 0 1rem 0;
}

@media (max-width: 600px) {

    .content-sugestões {
        padding-bottom: 30px;
        margin-bottom: -10px;
        background: #f00;
    }

    #h2-sugestoes {
        margin-left: 30px;
    }
}